.taskSubmit {
    background-color: rgb(255, 94, 0);
    color: #fff;
    border: none;
    font-size: 1rem;
    margin-top: 0.8rem;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.taskSubmit:hover {
    background-color: #c1450b;
}

.selectElement{
    color: black;
    width: 8rem;
}

.form{
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 32, 35);
    max-width: 60rem;
    margin: 0rem auto;
}

.header{
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid white;
    color: rgb(0, 255, 17);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form h1{
    margin: 0;
}

.taskSpecs{
    display: flex;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-bottom: 0.1rem solid rgb(0, 255, 17);
    flex-wrap: wrap;
}

/* .taskSpecs label{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: rgb(155, 155, 155);
} */

.taskSpecs select{
    color: rgb(0, 0, 0);
}

.taskPhase{
    display: flex;
    padding: 1.5rem 2rem;
    gap: 1rem;
}

.taskInfo{
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 1.5rem 2rem;
    gap: 1rem;
}

.taskTitle{
    padding: 1rem;
}

.taskInfo textarea{
    resize: none;
}

.taskDuration{
    margin: 0rem 2rem 1.5rem 2rem;
    display: flex;
    gap: 1rem;
}

.taskDuration label{
    display: flex;
    align-items: center;
}

.taskTags, .taskMods{
    margin: 0rem 2rem 1.5rem 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.taskMods .selectElement{
    width: 100%;
}

.taskTags label, .taskMods label{
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border-radius: 100rem;
}

.modOption{
    background-color: blueviolet;
    color: white;
}