body {
  font-family: "Arial", sans-serif;
  background-color: #111;

  /* This is not good rohit 🤬🤬🤬🤬🤬*/
  /* display: flex;
    align-items: center;
    justify-content: center; */

  height: 100vh;
  margin: 0;
}